.fixed-tools-view {
    position: fixed;
    right: 30rpx;
    bottom: -340rpx;
    width: 60rpx;
    transition: all 0.4s ease-in-out 0s;
    .icon-view {
        position: relative;
        background: #ffffff;
        border: 1rpx solid #e8e8e8;
        height: 0rpx;
        width: 0rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36rpx;
        color: #585858;
        border-radius: 1024rpx;
        visibility: hidden;
        transition: all 0.4s ease-in-out 0s;
        .icon-top {
            visibility: hidden;
            transition: all 0.1s ease-in-out 0s;
        }
        .num {
            position: absolute;
            background-color: var(--red);
            color: var(--white);
            font-size: 18rpx;
            border-radius: 1024rpx;
            width: 30rpx;
            height: 30rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -5rpx;
            top: -10rpx;
        }
    }
    .icon-view.show {
        height: 60rpx;
        width: 60rpx;
        visibility: visible;
        .icon-top {
            visibility: visible;
            transition: all 0.6s ease-in-out 0s;
        }
    }
    .icon-view.show + .icon-view.show {
        margin-top: 24rpx;
    }
}
.fixed-tools-view.show {
    bottom: 120rpx;
}
